/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* General Styling */
.Projects {
  padding: 2rem 0;
}

.title {
  font-family: 'Birthstone Bounce', cursive;
  color: #0FA3B1;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0.5rem;
}

.box {
  border-radius: 8px;
  background-color: #EDDEA4;
  padding: 1.5rem;
  transition: box-shadow 0.3s ease-in-out;
}

.box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image {
  margin-top: 1rem;
}

.button.is-link {
  background-color: #0FA3B1;
  border-color: #0FA3B1;
  color: #fff;
}
